<div class="accordion-group">
  <div class="accordion-heading">
    <a class="accordion-toggle box blue-player" data-toggle="collapse" href="#collapse-blue-player">
      <i class="icon icon-user"></i> <%= name %>
    </a>
  </div>
  <div id="collapse-blue-player" class="accordion-body">
    <div class="accordion-inner">
      <div>Wins: <%= wins %></div>
      <div>Losses: <%= losses %></div>
      <div>Words Played: <%= words %></div>
    </div>
  </div>
</div>
