/* =============================================================================
   Colors
   ========================================================================== 

  Blues - #0099CC
  ---------------

  #000F14
  #001F29
  #007AA3
  #0099CC
  #4DB8DB
  #66C2E0
  #CCEBF5

*/

/* =============================================================================
   Overrides
   ========================================================================== */

[class^="icon-"], [class*=" icon-"] {
  background-image: none !important;
}
a:hover .icon {
  text-decoration: none;
}
.accordion-group {
  border: 0;
  border-radius: 0;
  margin-bottom: 7pfx;
}
.accordion-inner {
  border: 0;
  background: #CCEBF5;
}

#wrapper .box.blue-player {
background: blue;
}

#wrapper .box.red-player {
background: red;
}

#wrapper .box.session {
background: #e2e2e2;
}

#session-bar {
width: 21%;
position: absolute;
top: 0;
bottom: 0;
right: 0;
left: auto;
padding: 0;
overflow-y: auto;
}


/* =============================================================================
   Game
   ========================================================================== */

  #game {
    width: 50%;
    position: absolute;
    left: 50%;
    margin-left: -25%;
    top: 0;
    bottom: 0;
    z-index: 2;
  }
  .board {
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 72px;
    font-size: 25px;
    border-top: 1px solid #bbbbbb;
    left: 0;
    width: 49.5%;
    border-radius: 3px;
    background-color: #dddddd;
    background-image: -webkit-gradient(linear, top, bottom, from(#dddddd), to(#ffffff));
    background-image: -webkit-linear-gradient(top, #dddddd, #ffffff);
    background-image: -moz-linear-gradient(top, #dddddd, #ffffff);
    background-image: -o-linear-gradient(top, #dddddd, #ffffff);
    background-image: linear-gradient(to bottom, #dddddd, #ffffff);
  }
  .board + .board {
    margin-left: 1%;
    right: 0;
    left: auto;
  }
  .board div {
    top: 0;
    clear: both;
    height: 9%;
    line-height: 1;
    text-align: center;
    display: table;
    width: 100%;
    position: absolute;

    -webkit-transition: all 1.3s linear;
    -moz-transition: all 1.3s linear;
    -o-transition: all 1.3s linear;
    transition: all 1.3s linear;
  }
  .board div p {
    display: table-cell;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0;
    margin: 0;
    vertical-align: middle; 
    text-align: center; 
  }
  #red-player.board div {
    border-left: 1px solid red;
    border-right: 1px solid red;
  }

  #blue-player.board div {
    border-left: 1px solid blue;
    border-right: 1px solid blue;
  }

  .focus-red-player #red-player, 
  .focus-blue-player #blue-player {
    width: 69.5%;
    font-size: 32px;
  }
  .focus-red-player #blue-player, 
  .focus-blue-player #red-player {
    width: 29.5%;
    font-size: 16px;
  }
  #input-wrapper {
    margin: 10px;
    bottom: 0;
    position: absolute;
    right: 0;
    left: 0;

    z-index: 3;
    padding: 5px;
    border: 1px solid #888888;
    margin-top: -1px;

    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cccccc), color-stop(100%, #aaaaaa));
  }
  #input {
    text-align: center;
    margin: 0;
    width: 100%;
    height: 50px;
    border: none;
    padding: 10px;
    font: 200 30px/40px "Source Sans Pro",sans-serif;
    color: rgba(255, 255, 255, 0.85);
    color: rgba(0, 0, 0, 0.85);
    outline: none;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    border: 1px solid #cfcfcf;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fdfdfd), color-stop(100%, #ffffff));
  }


#sit, #stand, #game .player {
  display: none;
}

.expand {  
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  font-size: 45px;
  font-weight: bold;
}

/* =============================================================================
   High Scores
   ========================================================================== */

.high-scores {
  width: 25%;
  position: absolute;
  right: 0;
  margin-right: 5%;
  z-index: 2;
  background: #e3e3e3;
}

/* =============================================================================
   Lobby
   ========================================================================== */

.lobby-mode {
  width: 50%;
  position: absolute;
  left: 75%;
  margin-left: -70%;
  z-index: 2;
}

.game {
  padding: 5px;
  position: relative;
  width: 200px;
  /*height: 135px;*/
  border-radius: 5px;
  background: #CCC;
  margin: 10px;
  float: left;
  font-size: 14px;
  line-height: 32px;

  border: 1px solid #aaaaaa;
  background-color: #aaaaaa;
  background-image: -webkit-gradient(linear, top, bottom, from(#cccccc), to(#aaaaaa));
  background-image: -webkit-linear-gradient(top, #cccccc, #aaaaaa);
  background-image: -moz-linear-gradient(top, #cccccc, #aaaaaa);
  background-image: -o-linear-gradient(top, #cccccc, #aaaaaa);
  background-image: linear-gradient(to bottom, #cccccc, #aaaaaa);
}
  /*
  .game .btn {
    float: left;
    margin-right: 5px;
  }
  .game .join {
    left: 3px;
  }
  .game .watch {
    right: 3px;
  }
  */
  .game div {
  }
  .game div h5 {
    font-size: 14px;
    line-height:14px;
    margin: 0;
    padding: 0;

  }
  .game div strong {
    font-size: 14px;
    font-weight: bold;
    /*text-transform: uppercase;*/
    width: 80px;
    text-align: right;
    display: inline-block;
    margin-right:10px;
  }
